main.pdf
*.aux
main-blx.bib
main.bbl
main.blg
main.idx
main.lof
*.log
main.lot
main.out
main.ptc
main.run.xml
main.synctex.gz
main.sta
main.glo
main.glsdefs
main.acn
main.ist
main.nig
main.nis
main.nlg
main.nlo
main.nls
*gz
*fls
*fdb_latexmk
images/bootstrap*.pdf
images/nmos_*.pdf
images/fsm_*.pdf
!images/fsm_*.drawio.pdf
images/mos_am*.pdf
*.drawio.bkp
*.dtmp
_minted-main/*
